@model EmployeesViewModel;
@{
    ViewBag.Title = "GetEmployees";
}


<h1>Employee List</h1>
@if (Model.Employees.Any())
{
    <ul>
        @foreach (var employee in Model.Employees)
        {
            var photoPath = employee.PhotoPath == null ? "~/images/noimage.png" : "~/images/"+(employee.PhotoPath);
            <li>
                <div>
                    <img src="@photoPath" />
                </div>
                <p><b>Employee Id: </b>@employee.Id</p>
                <p><b>Employee Name: </b>@employee.Name</p>
                <p><b>Employee Designation: </b>@employee.Designation</p>
                <p><b>Employee Department: </b>@employee.Department</p>
                <div>
                    <a asp-action="GetEmployee" asp-route-id="@employee.Id">Detail</a>
                    <a asp-action="Edit" asp-route-id="@employee.Id">Edit</a>
                </div>
            </li>
        }
    </ul>
}
else
{
    <p>
        No employee found!
    </p>
}